body,
html {
}

body {
  position: relative;
}

.bg {
  /* The image used */
  background-image: url('ng');
  opacity: -10;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 2;
}

.border {
  border-color: teal !important;
  border-style: solid;
  border: 50px;

  margin-top: 47px;
}

div.row h100 {
  margin-top: 35px;
}

.navbar-dark .navbar-brand {
  color: white;
}

.navbar {
  border-bottom: 5px;
  border-bottom-color: teal;
  border-bottom-style: solid;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.container {
  padding-bottom: 300px;
}

#rowone {
  margin-top: 20px;
  height: 250px;
  width: 500px;
}

img {
  box-sizing: border-box;
  height: 250px;
  width: 250px;
}
#img1 {
  background: #4aaaa5;
  color: white;
  z-index: 1;
  width: 170px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background: #212529;
  text-align: center;
  color: white;
  font-size: 15px;
  border-top: 5px;
  border-top-color: teal;
  border-top-style: solid;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.a {
  color: white;
}

.a:hover {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 640px) {
  #rowone {
    margin-top: 20px;
    height: 650px;
    width: 500px;
  }
}
